html, body, div, h1, h2, p, a, img, strong, b, u, i, center, ol, ul, li, table, tr, th, td, article, header, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	img.alignright {float:right; margin:0 0 1em 1em}

	.container {
		margin-left: auto;
		margin-right: auto;
	}
		.container {
		width: 60em;
	}

		body, input, select, textarea {
		color: #666;
		
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	
p {
		margin: 0 0 1em 0;
	}

	
	h1 {
		font-size: 2.25em;
		line-height: 1.35em;
	}

	h2 {
		font-size: 2em;
		line-height: 1.35em;
	}

			ul.lista li {
				display: inline-block;
				padding: 2.5em;
				text-align: center;
			}					

	.main {
		padding: 6em 0 4em 0 ;
	}
		.main.style2 {
			background-color: #333;
			color: rgba(255, 255, 255, 0.75);
			}
			.main.style2 h1, .main.style2 h2, .main.style2 header p, .main.style2 strong, .main.style2 b {
				color: #ffffff;
			}

	#header {
		padding: 9em 0 9em 0 ;
		background-color: #4686a0;
		color: rgba(255, 255, 255, 0.75);
		background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
		text-align: center;
	}
		#header h1, #header h2, #header strong, #header b {
			color: #ffffff;
		}	